
/* Universal styles */

body {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	color: #36454F;
	width: 100%;
	margin: 0 auto;
	
	
}
img {
	height: auto;
	width: 100%;
}
video {
	height: auto;
	width: 100%;
}
a {
	text-decoration: none;
	color: #36454F
}
a:hover {
	color: #add8e6;
}

h2 {
	font-weight: 800;
	font-size: 40px;
	margin-botton: 10px;
	padding: 0;
	border: 0;
}
h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	padding: 4px 0;
	border: 0;
}
h4 {
	margin: 0;
	padding: 4px 0;
	border: 0;
	font-weight: 300;
}
p {
	font-size: 12px;
	font-weight: 600;
}

/* Header styles */

.fixed-header {
	width: 100%;
	background: white;
	padding: 10px 0;
	height: 64px;
	
}

nav a {
	color: #36454F;
	text-decoration: none;
	margin: 0 8px;	
	float: right;
}

nav {
	width: 100%;
	margin-right: 24px;
}

a span {
	color: #a9a9a9;
	font-weight: 400;
	
}

.cta-logo {
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #36454F;
	text-decoration: none;
	
}

.logo-img {
	margin-left: 24px;
	width: 50px;
	height: 50px;
	position: relative;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 64px;
}
/* Homepage section styling */

.homepage {
	width: 100%;
	background-color: #e5e5e5;
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}
.homepage-image,
.homepage-text {
	display: flex;
	flex-direction: column;
	
}
.homepage-image {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: 0 24px;
}
.homepage-text {
	width: 40%;
	display: flex;
	flex-direction: column;
	
}

.child-1,
.child-2 {
	display: flex;
	flex-direction: column;
	
}


.cta-bg {
	background-color: #36454F;
	width: 80%;
	height: 40px;
	text-align: center;
	padding: 8px;
	align-items: center;
	
}
.cta-start {
	color: white;
	text-decoration: none;
	font-size: 18px;
	line-height: 40px;
}

/* Info section styling */

.info-container {
	width: 100%;
	background-color: white;
	display: flex;
	
}
#info-main {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 32px 24px;
	flex: 2 2;
}
.info-flex-container {
	width: 40%;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #e5e5e5;
	flex: 1 3;
	padding-top: 16px;
	
}
#info-orientation,
#info-campus,
#info-guest {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 4px solid #e5e5e5;
	
}
#info-guest {
	background-color: #e5e5e5;
}
.info-img {
	width: 35%;
	padding: 16px;
}
.info-text {
	width: 65%;
	padding-left: 24px;
	
	
}
a .cta-info {
	text-decoration: none;
}
.quote {
	padding-top: 32px;
	padding-bottom: 32px;
}

/* Learning section style */

.learning-container {
	width: 100%;
	background-color: #e5e5e5;
	text-align: center;
	padding: 32px 0;
	
	
}

.learn-flex-container {
	display: flex;
	width: 100%;
	
}
.learn-flex-row {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 72px;
}
.learn-flex-box {
	width: 30%;
	background-color: white;
	text-align: left;
	margin: 16px;
	
}
.learn-text {
	padding: 16px;
}

/* Thesis section styling */
.thesis-container {
	width: 100%;
	
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5
}
.thesis-flex-container {
	display: flex;
	padding-top: 32px;
	padding-left: 24px;
	
	
}
.thesis-left {
	width: 60%;
	padding-right: 12px;
	text-align: left;
}
.thesis-right {
	width: 40%;
	diplay: flex;
	flex-direction: column;
	padding-left: 12px;
}
.thesis-fisma,
.thesis-now {
	display: flex;
	align-items: center;
	text-align: left;
}
.thesis-fisma {
	background-color: #e5e5e5;
}
.thesis-image {
	width: 35%;
	padding: 16px;
}
.thesis-text {
	width: 65%;
	padding-left: 16px;
}
.thesis-video {
	margin-bottom: 24px;
}

/* Media Query starts here */

@media only screen and (max-width: 560px) {
	/* mobile devices max 560px */
	.cta-logo {
		display: none;
	}
	.logo-img {
		display: none;
	}
	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
	}
	nav img {
		height: 64px;
	}
	.homepage {
		flex-direction: column;
		padding: 0;
	}
	.homepage-image {
		width: 100%;
	}
	.homepage-text {
		width: 100%;
		padding-left: 32px;
		padding-bottom: 32px
	}
	.homepage-text h2 {
		margin: 0;
		padding: 32px 0;
		
	}
	.homepage-text h3 {
		padding-bottom: 24px;
	}
	.cta-bg {
		margin: 0 auto;
		
	}
	#info-main {
		display: none;
	}
}
@media only screen and (min-width: 561px) and (max-width: 680px) {
	.nav-mobile {
		display: none;
	}
	.cta-logo {
		display: none;
	}
}
@media only screen and (min-width: 681px) {
	.nav-mobile {
		display: none;
	}
}